@model IEnumerable<Codecool.HackerNewsClient.Models.Jobs>
@{
    ViewData["Title"] = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a href="@Url.Action("Jobs", new { page = (int)ViewData["page"] - 1})" class="btn btn-primary @( (int) ViewData["page"] == 1 ? "disabled" : "")">Previous</a>
    <a href="@Url.Action("Jobs", new { page = (int)ViewData["page"] + 1})" class="btn btn-primary @( (int) ViewData["page"] == 1 ? "disabled" : "")">Next</a>
</div>
<br/>
@foreach (var item in Model)
{
<div class="jumbotron">
    <div class="col-md-4">
        <table>
            <thead>
            <tr>
                <th class="news-title">Title</th>
                <th>Published</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="news-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time_Ago)
                    </td>
                </tr>
                </tbody>
        </table>
    </div>
</div>
}


